.about {
    background: $color-light-grey;

    font-family: $font-raleway;

    padding: 4em 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    .about_container {
        width: 93%;

        overflow: hidden;

        position: relative;

        padding: 2.5em;
        padding-top: 5em;
        margin-top: 3em;

        border-radius: 0.5em;
        box-shadow: 0 0 0.1em $color-grey;

        background: $color-white;

        display: flex;
        flex-direction: column;
        align-items: center;

        .about_title {
            font-size: 3.5em;
            font-weight: 400;

            align-self: start;

            padding-right: 2em;
            margin: 1em 0;
        }

        .about_photo {
            width: 18em;
            position: relative;
        }

        .about_txt {
            font-size: 1.5em;
            font-weight: 400;
            line-height: 1.4;
        }
    }
    & :nth-of-type(1) {
        .about_img_container:before {
            content: "";

            position: absolute;
            top: 4%;
            left: 55%;

            height: 9em;
            width: 9em;

            border-radius: 3.9em;

            background: #fb3b64;

            transform: rotateZ(45deg);
        }
    }

    & :nth-of-type(2) {
        .about_img_container:before {
            content: "";
            position: absolute;
            top: 8%;
            left: 27%;

            height: 13em;
            width: 13em;

            border-radius: 50%;

            background: #08a6e4;
        }
    }

    & :nth-of-type(3) {
        flex-direction: column-reverse;

        padding-top: 3em;
        padding-bottom: 0;

        .about_title {
            order: 1;

            margin-top: 0;
        }

        .about_txt {
            margin-bottom: 2em;
        }

        .about_photo {
            width: 30em;
            margin-top: 6em;
        }

        .about_img_container:before {
            content: "";

            position: absolute;
            left: 0;

            width: 100%;
            height: 100%;

            background: #55dfb4;
            border-radius: 0.5em;
        }
    }
}
