header {
    .header_container {
        width: 100%;
        height: 6em;

        box-shadow: 0 0.1em 1em lighten($color-black, 60%);

        padding: 0 2em;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            text-decoration: none;
            color: $color-primary;
            font-size: 3em;
            font-family: $font-raleway;
            font-weight: 300;
        }

        nav {
            display: block;

            .burger_menu {

                span {
                    display: block;

                    height: .2em;
                    width: 2em;

                    background: $color-primary;

                    margin-top: .3em;
                }
            }
        }
    }
}
