header {
    .header_container {
        width: 100%;
        height: 6em;

        box-shadow: 0 0.1em 1em lighten($color-black, 60%);

        padding: 0 2em;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            text-decoration: none;
            color: $color-primary;
            font-size: 3em;
            font-family: $font-raleway;
            font-weight: 300;
        }

        nav {
            display: block;

            .burger_menu {
                span {
                    display: block;

                    height: 0.2em;
                    width: 2em;

                    background: $color-primary;

                    margin-top: 0.3em;
                }
            }

            .menu_content {
                visibility: hidden;

                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                position: absolute;
                left: 0;
                top: 7em;

                height: 40%;
                width: 100%;
                
                padding: 0 2em;

                background: $color-white;

                a {
                    font-family: $font-open-sans;
                    font-size: 1.2em;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 0.3em;
                    text-decoration: none;
                    color: $color-grey;
                }
            }
        }
    }
}

// .burger_menu:focus {
//     span:first-child {
//         transform: rotate(45deg) translateX(0.7em);
//     }
//     span:nth-child(2) {
//         opacity: 0;
//     }
//     span:last-child {
//         transform: rotate(-45deg) translateX(0.7em);
//     }
//     span {
//         transition: 0.3s all ease-in-out;
//     }
// }

@media (min-width: 793px) {
    header {
        .header_container {
            nav {
                .burger_menu {
                    visibility: hidden;
                }

                .menu_content {
                    visibility: visible;

                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;

                    left: 20%;
                    top: 0em;
                    height: 60px;

                    width: auto;

                    padding: 2em;

                    a {
                        margin-left: 5em;
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    header {
        .header_container {
            nav {
                .menu_content {
                    left: 40%;

                }
            }
        }
    }
}
