.web_statistics {
    font-family: $font-raleway;
    

    .statistics_title {
        font-size: 3.5em;
        font-family: $font-raleway;
        font-weight: 400;
        text-align: center;

        margin-top: 1.5em;
    }

    .info_stats {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 2em 15em;
        text-align: center;

        position: relative;

        .circle {
            height: 6em;
            width: 6em;
            border-radius: 50%;

            position: absolute;
            left: 15%;

            z-index: -1;
        }

        .st {
            background: $color-redish;
        }

        .nd {
            background: $color-green;
        }

        .rd {
            background: $color-primary;
        }

        .stats_logo {
            width: 5em;
            position: absolute;
            left: 35%;
        }

        .stats_nr {
            font-size: 2em;
            font-weight: 900;
            letter-spacing: 0.2em;

            margin-top: 4em;
        }

        .stats_descriptions {
            font-size: 1.5em;
            font-weight: 300;
            color: $color-grey;

            margin-top: 1em;
        }
    }

    & :nth-of-type(2) {
        
        img {
            top: 10%;
        }
    }

    & :nth-of-type(3) {
        
        img {
            top: 4%;
        }
    }
}
