main {
    .welcome_section {
        width: 100vw;
        height: calc(100vh - 7em);

        display: flex;
        flex-direction: column;
        align-items: center;

        overflow: hidden;

        .welcome_content {
            height: 50%;
            margin-top: 10em;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            font-family: $font-raleway;

            h1 {
                color: $color-black;
                font-size: 4.5em;
                font-weight: 400;
            }

            p {
                color: $color-black;
                font-size: 1.8em;
                font-weight: 400;
                text-align: center;
                line-height: 1;

                padding: 0 3em;
                margin-top: 1em;
            }

            .btn {
                width: 90%;

                font-size: 1.6em;
                font-weight: 700;

                margin-top: 3em;
                padding: 1em;

                background: $color-primary;
                color: $color-white;

                border-radius: 2em;
                box-shadow: 0.3em 1em 1.4em lighten($color-primary, 45%);
            }
        }

        img {
            height: 50%;
        }
    }
}

@media (min-width: 793px) {
    main {
        .welcome_section {
            height: calc(100vh - 6em);
        }
    }
}

@media (min-width: 1024px) {

    main {
        .welcome_section {
            height: 75vh;
        }
    }
}
