* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  border: 0;
  list-style: none;
}

header .header_container {
  width: 100%;
  height: 6em;
  box-shadow: 0 0.1em 1em #999999;
  padding: 0 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_container .logo {
  text-decoration: none;
  color: #08A6E4;
  font-size: 3em;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}
header .header_container nav {
  display: block;
}
header .header_container nav .burger_menu span {
  display: block;
  height: 0.2em;
  width: 2em;
  background: #08A6E4;
  margin-top: 0.3em;
}

main .welcome_section {
  width: 100vw;
  height: calc(100vh - 7em);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
main .welcome_section .welcome_content {
  height: 50%;
  margin-top: 10em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Raleway", sans-serif;
}
main .welcome_section .welcome_content h1 {
  color: #000000;
  font-size: 4.5em;
  font-weight: 400;
}
main .welcome_section .welcome_content p {
  color: #000000;
  font-size: 1.8em;
  font-weight: 400;
  text-align: center;
  line-height: 1;
  padding: 0 3em;
  margin-top: 1em;
}
main .welcome_section .welcome_content .btn {
  width: 90%;
  font-size: 1.6em;
  font-weight: 700;
  margin-top: 3em;
  padding: 1em;
  background: #08A6E4;
  color: #ffffff;
  border-radius: 2em;
  box-shadow: 0.3em 1em 1.4em #d4f2fd;
}
main .welcome_section img {
  height: 50%;
}

.web_statistics {
  font-family: "Raleway", sans-serif;
}
.web_statistics .statistics_title {
  font-size: 3.5em;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: 1.5em;
}
.web_statistics .info_stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 15em;
  text-align: center;
  position: relative;
}
.web_statistics .info_stats .circle {
  height: 6em;
  width: 6em;
  border-radius: 50%;
  position: absolute;
  left: 15%;
  z-index: -1;
}
.web_statistics .info_stats .st {
  background: #FB3B64;
}
.web_statistics .info_stats .nd {
  background: #55DFB4;
}
.web_statistics .info_stats .rd {
  background: #08A6E4;
}
.web_statistics .info_stats .stats_logo {
  width: 5em;
  position: absolute;
  left: 35%;
}
.web_statistics .info_stats .stats_nr {
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 0.2em;
  margin-top: 4em;
}
.web_statistics .info_stats .stats_descriptions {
  font-size: 1.5em;
  font-weight: 300;
  color: #A5A5A5;
  margin-top: 1em;
}
.web_statistics :nth-of-type(2) img {
  top: 10%;
}
.web_statistics :nth-of-type(3) img {
  top: 4%;
}

.about {
  background: #F7F7F7;
  font-family: "Raleway", sans-serif;
  padding: 4em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .about_container {
  width: 93%;
  overflow: hidden;
  position: relative;
  padding: 2.5em;
  padding-top: 5em;
  margin-top: 3em;
  border-radius: 0.5em;
  box-shadow: 0 0 0.1em #A5A5A5;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .about_container .about_title {
  font-size: 3.5em;
  font-weight: 400;
  align-self: start;
  padding-right: 2em;
  margin: 1em 0;
}
.about .about_container .about_photo {
  width: 18em;
  position: relative;
}
.about .about_container .about_txt {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.4;
}
.about :nth-of-type(1) .about_img_container:before {
  content: "";
  position: absolute;
  top: 4%;
  left: 55%;
  height: 9em;
  width: 9em;
  border-radius: 3.9em;
  background: #fb3b64;
  transform: rotateZ(45deg);
}
.about :nth-of-type(2) .about_img_container:before {
  content: "";
  position: absolute;
  top: 8%;
  left: 27%;
  height: 13em;
  width: 13em;
  border-radius: 50%;
  background: #08a6e4;
}
.about :nth-of-type(3) {
  flex-direction: column-reverse;
  padding-top: 3em;
  padding-bottom: 0;
}
.about :nth-of-type(3) .about_title {
  order: 1;
  margin-top: 0;
}
.about :nth-of-type(3) .about_txt {
  margin-bottom: 2em;
}
.about :nth-of-type(3) .about_photo {
  width: 30em;
  margin-top: 6em;
}
.about :nth-of-type(3) .about_img_container:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #55dfb4;
  border-radius: 0.5em;
}

.pricing {
  font-family: "Raleway", sans-serif;
}
.pricing .pricing_container {
  width: 93%;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.pricing .pricing_container .pricing_title {
  font-size: 4em;
  font-weight: 400;
  display: block;
  order: 1;
  margin: 1.5em;
}
.pricing .pricing_container .pricing_boxes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.pricing .pricing_container .pricing_boxes .price_box {
  width: 90%;
  border: 1px solid #FB3B64;
  border-radius: 2em;
  padding: 2em;
  margin-bottom: 4em;
  display: inherit;
}
.pricing .pricing_container .pricing_boxes .price_box .pricing_box_package {
  align-self: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing .pricing_container .pricing_boxes .price_box .pricing_box_package .package_title {
  font-size: 1.8em;
  font-weight: 700;
}
.pricing .pricing_container .pricing_boxes .price_box .pricing_box_package .package_price {
  font-size: 4em;
  color: #FB3B64;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin-top: 0.5em;
}
.pricing .pricing_container .pricing_boxes .price_box .pricing_box_package .package_promo {
  font-size: 1.2em;
  font-weight: 700;
}
.pricing .pricing_container .pricing_boxes .price_box .pricing_box_items {
  width: 50%;
  font-family: "Open Sans", sans-serif;
  position: relative;
}
.pricing .pricing_container .pricing_boxes .price_box .pricing_box_items .pricing_box_item {
  margin: 1em;
  font-size: 1.5em;
}
.pricing .pricing_container .pricing_boxes .price_box .pricing_box_items .pricing_box_item:before {
  content: "";
  position: absolute;
  height: 1em;
  width: 1em;
  background-image: url(./../../assets/Checkmark-1.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  left: -4%;
}
.pricing .pricing_container .pricing_boxes .price_box_btn {
  border-radius: 2em;
  position: absolute;
  left: 50%;
  top: 26%;
  transform: translateX(-50%);
  padding: 1.5em;
  width: 15em;
  background: #FB3B64;
}
.pricing .pricing_container .pricing_boxes .price_box_btn a {
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}
.pricing .pricing_container .pricing_boxes .price_box:nth-child(1) .pricing_box_items .pricing_box_item:nth-child(4)::before, .pricing .pricing_container .pricing_boxes .price_box:nth-child(1) .pricing_box_items .pricing_box_item:last-child::before {
  content: "";
  background-image: url(./../../assets/Close.svg);
}
.pricing .pricing_container .pricing_boxes .price_box:nth-child(2) {
  width: 95%;
  border-color: #08A6E4;
}
.pricing .pricing_container .pricing_boxes .price_box:nth-child(2) .package_price {
  color: #08A6E4;
}
.pricing .pricing_container .pricing_boxes .price_box:nth-child(2) .pricing_box_items .pricing_box_item:last-child::before {
  content: "";
  background-image: url(./../../assets/Close.svg);
}
.pricing .pricing_container .pricing_boxes .price_box:nth-child(2) .price_box_btn {
  top: 59%;
  background: #08A6E4;
}
.pricing .pricing_container .pricing_boxes .price_box:nth-child(3) {
  border-color: #55DFB4;
}
.pricing .pricing_container .pricing_boxes .price_box:nth-child(3) .package_price {
  color: #55DFB4;
}
.pricing .pricing_container .pricing_boxes .price_box:nth-child(3) .price_box_btn {
  top: 92.5%;
  background: #55DFB4;
}

.contact {
  font-family: "Raleway", sans-serif;
  margin-bottom: 4em;
}
.contact .contact_container {
  width: 95%;
  margin: 0 auto;
}
.contact .contact_container .contact_title {
  font-size: 5em;
  font-weight: 400;
  margin-top: 1.5em;
}
.contact .contact_container .contact_txt {
  font-size: 1.6em;
  font-weight: 400;
  margin: 1em auto;
  margin-bottom: 2em;
}
.contact .contact_container .contact_info_container {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}
.contact .contact_container .contact_info_container a {
  font-size: 2em;
  text-decoration: none;
  color: #A5A5A5;
  margin-bottom: 0.5em;
}
.contact .contact_container .contact_info_container a img {
  margin-right: 1em;
  vertical-align: middle;
}
.contact .contact_container .contact_info_container .best_shop_nr {
  margin-bottom: 2em;
}
.contact .contact_container .contact_form {
  display: flex;
  flex-direction: column;
}
.contact .contact_container .contact_form .name_info,
.contact .contact_container .contact_form .email_info {
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
}
.contact .contact_container .contact_form .name_info .label_name,
.contact .contact_container .contact_form .name_info .label_email,
.contact .contact_container .contact_form .email_info .label_name,
.contact .contact_container .contact_form .email_info .label_email {
  text-transform: uppercase;
  color: #08A6E4;
  font-size: 1.2em;
  letter-spacing: 0.3em;
  font-weight: 600;
}
.contact .contact_container .contact_form .name_info .input_name,
.contact .contact_container .contact_form .name_info .input_email,
.contact .contact_container .contact_form .email_info .input_name,
.contact .contact_container .contact_form .email_info .input_email {
  font-size: 2em;
  line-height: 2em;
  outline: none;
  border-bottom: 1px solid black;
}
.contact .contact_container .contact_form .consent_area {
  font-family: "Open Sans", sans-serif;
}
.contact .contact_container .contact_form .consent_area .form_checkbox {
  display: flex;
  flex-direction: row;
}
.contact .contact_container .contact_form .consent_area .form_checkbox input {
  height: 2.5em;
  width: 40em;
}
.contact .contact_container .contact_form .consent_area .form_checkbox .consent_txt {
  color: #A5A5A5;
  font-size: 1.2em;
  line-height: 1.3em;
}
.contact .contact_container .contact_form .btn_consent_send {
  color: #ffffff;
  background: #08a6e4;
  padding: 1.5em;
  margin: 2em;
  margin-left: 12em;
  font-size: 1.3em;
  font-weight: 600;
  width: 60%;
  border-radius: 4em;
}

.footer {
  width: 100%;
  box-shadow: 0 1em 1em 1em #a5a5a5;
}

.footer_container {
  width: 95%;
  margin: 0 auto;
  padding: 2em 0;
  display: flex;
  justify-content: space-between;
}
.footer_container .footer_content {
  font-family: "Open Sans", sans-serif;
}
.footer_container .footer_content .footer_title {
  font-size: 3.5em;
  font-weight: 300;
  color: #08A6E4;
}
.footer_container .footer_content .all_rights_reserved {
  color: #A5A5A5;
  padding: 0.5em 0;
}
.footer_container .footer_social {
  align-self: center;
}
.footer_container .footer_social img {
  padding-right: 1em;
}
.footer_container .footer_social .tw {
  padding-left: 1em;
}
/*# sourceMappingURL=main.css.map */
