@import './generic/reset';

@import './mixnis/mixin';

@import './settings/colors';
@import './settings/fonts';

@import './elements/header';
@import './elements/welcomeSection';
@import './elements/buttons';

